.back-to-top{
    background-color: #f1f1f1;
    width: 54px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
    border-radius: 35px;
    visibility: hidden;
}

.back-to-top i{
    color: #333;
    font-size: 20px;
}

.back-to-top:hover{
    background-color: var(--scrollback);
    transition: .2s;
}

.back-to-top:hover i{
    color: #f1f1f1;
    transition: .2s;
}

.footer-page{
    position: relative;
}

.footer-moive{
    position: absolute;
    background-color: rgb(0, 0, 0,0.3);
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    transition: .2s;
}

.logo-footer{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 30px;
}

.contact-footer{
    display: flex;
    align-items: center;
    margin: 0 30px;
    color: #f1f1f1;
}

.contact-footer a{
    margin-right: 100px;
    text-decoration: none;
    color: #f1f1f1;
}

.contact-footer a i{
    margin-right: 8px;
}

.contact-footer span{
    cursor: text;
    text-decoration: none;
    margin-right: 100px;
    color: #f1f1f1;
    transition: .2s;
}

.contact-footer span i{
    margin-right: 8px;
    color: #f1f1f1;
}

.footer-moive:hover{
    height: 100px;
    transition: .2s;
    background-color: rgb(0, 0, 0,1);
}

.footer-moive:hover .contact-footer{
    display: flex;
}

.footer-moive:hover .contact-footer a{
    margin-right: 100px;
    transition: .2s;
}

.footer-moive:hover .contact-face::after{
    content: ' : https://www.facebook.com/';
}

.footer-moive:hover .contact-email::after{
    content: ' : minhquangNTHQ@gmail.com';
}

.footer-moive:hover .contact-phone::after{
    content: ' : 0906124606';
}

.contact-phone{
    cursor:text !important;
}
